.bestelvalidatie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://rubenjerry.nl/wp-content/images/deco2.png');
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;

    &__radiobuttons {
      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 25px 0 25px;
        margin: auto;
      }
  }

 

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 25px 25px;
    margin: auto;

 

    &__labels {
      display: block;
      padding-top: 10px;
      padding-bottom: 5px;
    }

 

    &__label {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }

 

    &__input{
      padding: 10px;
      border: 1px solid  $green;
      box-sizing: border-box;
      border-radius: 25px;
    }

 

    &__button {
      background-color: $green;
      border-radius: 10px;
      color: white;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

 

    &__link{
      display: block;
      text-align: center;
      text-decoration: none;
      font-style: italic;
      color: $green;
      cursor: pointer;
    }
  }
}