@import 'variables';
.betaling{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://rubenjerry.nl/wp-content/images/deco2.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px 40px 0px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  &__button{
    background-color: $green;
    color: white;
    width: 300px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 25px;

    &:hover{
      background-color: #996501;
      cursor: pointer;
    }
  }

  &__orderid{
    margin-top: 10vh;
    &__text{
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      width: 25vw;
    }
    &__ordernr{
      font-size: 30px;
      margin-bottom: 10vh;
      text-align: center;
    }
  }

  &__price{
    &__text{
      font-size: 25px;
      margin-bottom: 2vh;
    }
  }

  &__logo{
    width: 25vw;
  }
  &__header{
    color: $green;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 5vh;
  }
  &__succes{
    &__text{
      text-align: center;
      padding: 0 30px;
      margin-bottom: 10vh;

      &__redirect{
        color: $green;
        text-decoration: underline;
        &:hover{
          color: #996501;
        }
        &:active{
          color: #5c471f;
        }
      }
    }
  }
}
