@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    box-sizing: border-box;
    font-family: $font-family;
}
main{
    display:inline;
}
.front{
    background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/06/background_home.jpg);
    &--theroof{
        background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/07/DSC_7382.jpg);
    }
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
