.container{
    background-color: white;
    width: 85%;
    margin: 25px auto 0 auto;
    height: 85%;
    border-radius: 10px;

    
    @include for-desktop-up {
        width: 35%;
        height: 85%;
    }
}