.header{
    width: 100%;
    height: 51px;
    background-image: url(https://rubenjerry.nl/wp-content/images/deco4.png);
    background-size: cover;
    background-position: center;
    background-position-x: -35px;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-desktop-up {
        background: none;
        background-color: transparent;
    }
    &__back{
        padding: 0;
        margin: 0;
        width: 24px;
        background: none;
        border: none;
        z-index: 1;
        outline: none;
        @include for-desktop-up {
            color: white;
        }
    }
    &__title{
        width:100%;
        height: inherit;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        display: flex;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 1em;
        left:0;
        text-transform: uppercase;

    }
}
