.home{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    &__header{
        display: flex;
        justify-content: center;
        height: 100px;
        object-fit: fill;
        @include for-desktop-up {
            height: 150px;
          }
        img{
            object-fit: contain;
            @include for-desktop-up {
                width: 40%;
              }
        }
        &__link{
            color: white;
            position: absolute;
            right: 10px;
            top: 25px;
            font-size: 20px;
            background: none;
            border: none;
            cursor: pointer;

            &--profiel{
                color: white;
                position: absolute;
                right: 0px;
                top: 5px;
                font-size: 50px;
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: calc(90% - 100px);
        padding: 0;
        margin: 0;
        
        &__grid{
            display: grid;
            justify-content: center;
            grid-template-columns: 100%;
            grid-gap: 20px;
            @include for-desktop-up {
                width: 35%;
              }
            
            &__button{
                display: none;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                background-color: white;
                color: $brown;
                font-weight: 900;
                font-size: 36px;
                background-image: url('https://rubenjerry.nl/wp-content/images/deco4.png');
                background-size: 95%;
                background-repeat: no-repeat;
                border-radius: 10px;
                border: none;
             
                
                &--afhalen{
                    background-position: 200% 30%;
                    @include for-desktop-up{
                        background-position: 0% 30%;
                    }
                }
                &--reserveren{
                    background-position: 170% 60%;
                    @include for-desktop-up{
                        background-position: 0% 60%;
                    }
                }
                &--bijbestellen{
                    background-color: $green;
                    color: white;
                    background-position: 0% 80%;
                }
                &__icons{
                    padding: 0;
                    margin: 0;
                    font-size: 32px ;

                }

            }
        }  
    }
}