.profiel{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco1.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    
    &__wijzigen{
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        border-radius: 25px;   
        background-color: $green;
        border-radius: 10px;
        color: white;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        margin: auto;

        &__header{
            text-align: center;
        }
        &__imgcontainer{
            width: 150px;
            height: 150px;
            border: 2px solid $green;
            margin: auto;
            background: lightgrey;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            
            &__profielfoto{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            &__icons{
                color: white;
                margin: auto;
                position: fixed;
                top: 230px;
                cursor: pointer;
               } 
        }
        &__input{
            margin-bottom: 10px;
            padding-top: 10px;
            text-align: center;
            padding: 10px;
            border: 1px solid  $green;
            box-sizing: border-box;
            border-radius: 25px;   
            background: transparant;
            color: black;
        }
        &__button{
            background-color: $green;
            border-radius: 10px;
            color: white;
            height: 50px;  
            margin-top: 10px;
            margin-bottom: 10px;
            border: none;
        }
        &__logout{
            color: $green;
        }

    }


}