.wachtwoordReset{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco2.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        margin: auto;
        &--hide{
            display: none !important;
        }

        &__label{
            display: block;
            padding-top: 10px;  
            padding-bottom: 5px;    
        }
        &__input{
            border: 1px solid  $green;
            box-sizing: border-box;
            border-radius: 25px;
            padding: 0.75em;
        }
        &__button{
            background-color: $green;
            border-radius: 10px;
            color: white;
            height: 50px;  
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__section{
        display: flex;
        justify-content: center;
        align-items: center;

        & p{
            color: red;
            font-style: italic;
            padding: 50px;
        }
    }
}
