.wachtwoordHerstel{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco2.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        margin: auto;

        &__input{
            padding: 10px;
            border: 1px solid  $green;
            box-sizing: border-box;
            border-radius: 25px;
        }
        &__button{
            background-color: $green;
            border-radius: 10px;
            color: white;
            height: 50px;  
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__link{
            padding: 5px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-style: italic;
            color: $green;
        }
    }

}