@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.container {
  background-color: white;
  width: 85%;
  margin: 25px auto 0 auto;
  height: 85%;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 35%;
    height: 85%;
  }
}

.header {
  width: 100%;
  height: 51px;
  background-image: url(https://rubenjerry.nl/wp-content/images/deco4.png);
  background-size: cover;
  background-position: center;
  background-position-x: -35px;
  margin: 0;
  padding: 0 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header {
    background: none;
    background-color: transparent;
  }
}

.header__back {
  padding: 0;
  margin: 0;
  width: 24px;
  background: none;
  border: none;
  z-index: 1;
  outline: none;
}

@media (min-width: 1200px) {
  .header__back {
    color: white;
  }
}

.header__title {
  width: 100%;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  left: 0;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "muli", sans-serif;
}

main {
  display: inline;
}

.front {
  background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/06/background_home.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "muli", sans-serif;
}

.front--theroof {
  background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/07/DSC_7382.jpg);
}

.reserveren {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco3.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.reserveren__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  height: 27px;
  width: 100%;
  margin: 0;
  position: relative;
}

@media (min-width: 1200px) {
  .reserveren__header {
    height: 47px;
  }
}

.reserveren__header__title {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__title {
    font-size: 1.5rem;
  }
}

.reserveren__header__title__icon {
  font-size: 0.75rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 5px;
  color: #336633;
  pointer-events: all;
  background: transparent;
  border: none;
  outline: none;
}

@media (min-width: 1200px) {
  .reserveren__header__title__icon {
    font-size: 1rem !important;
  }
}

.reserveren__header__nextDay {
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: transparent;
  border: none;
  outline: none;
}

.reserveren__header__nextDay--hide {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__nextDay {
    font-size: 34px !important;
  }
}

.reserveren__header__previousDay {
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: transparent;
  border: none;
  outline: none;
}

.reserveren__header__previousDay--hide {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__previousDay {
    font-size: 34px !important;
  }
}

.reserveren__header__calendar {
  background-color: white;
  position: absolute;
  width: 110%;
  height: 80px;
  margin: 0 auto;
  top: 75px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
          box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .reserveren__header__calendar {
    width: 90%;
    top: 85px;
  }
}

.reserveren__header__calendar__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border: none;
  outline: none;
  color: #336633;
}

.reserveren__header__calendar__date--active {
  background-color: #336633;
  color: white;
  border-radius: 10px;
}

.reserveren__header__calendar__date:hover {
  background-color: #336633;
  color: white;
  border-radius: 10px;
}

.reserveren__header__calendar__date__day {
  font-size: 1.5rem;
}

.reserveren__header__calendar__date__month {
  font-size: 1.2rem;
}

.reserveren__header__calendar__date__year {
  font-size: 0.8rem;
}

.reserveren__header__calendar__today {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  background-color: white;
  color: #336633;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
}

.reserveren__header__calendar__today:hover {
  background-color: #336633;
  color: white;
}

.reserveren__header__calendar__today--active {
  background-color: #336633;
  color: white;
}

.reserveren__subTitle {
  padding: 0.5rem 1rem;
}

@media (min-width: 1200px) {
  .reserveren__subTitle {
    font-size: 1.1em;
  }
}

.reserveren__locations {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reserveren__locations__location {
  min-width: 85px;
  color: #336633;
  border: 1px #336633 solid;
  padding: 6px;
  border-radius: 5px;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  outline: none;
}

.reserveren__locations__location--active {
  color: white;
  background-color: #336633;
}

@media (min-width: 1200px) {
  .reserveren__locations__location {
    height: 2.5rem;
    width: calc(100%/2);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
}

.reserveren__persons {
  margin: 0 1rem;
  border: 1px solid black;
  height: 28px;
  width: 85px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .reserveren__persons {
    height: 2.5rem;
  }
}

.reserveren__persons__input {
  height: 28px;
  width: 33.33%;
  border: none;
  background-color: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -moz-appearance: textfield;
}

.reserveren__persons__input::-webkit-outer-spin-button, .reserveren__persons__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1200px) {
  .reserveren__persons__input {
    height: 2.5rem;
    font-size: 1rem;
  }
}

.reserveren__persons__button {
  background: none;
  height: 28px;
  width: 33.33%;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

@media (min-width: 1200px) {
  .reserveren__persons__button {
    height: 2.5rem;
  }
}

.reserveren__timeslots {
  display: -ms-grid;
  display: grid;
  margin: 0 1rem;
  padding: 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1200px) {
  .reserveren__timeslots {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.reserveren__timeslots__timeslot {
  height: 2.5rem;
  color: #336633;
  border: 1px #336633 solid;
  padding: 0px;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  background-color: transparent;
}

@media (min-width: 1200px) {
  .reserveren__timeslots__timeslot {
    font-size: 0.85rem;
  }
}

.reserveren__timeslots__timeslot:active + .reserveren__timeslots__timeslot--active {
  color: white;
  background-color: #336633;
}

.reserveren__timeslots__timeslot--notAvailable {
  color: #828282;
  background-color: #C4C4C4;
  border-color: #828282;
  pointer-events: none;
}

.reserveren__timeslots__timeslot--active {
  background-color: #336633;
  color: white;
}

.reserveren__timeslots__message {
  font-size: 0.6em;
  width: 100%;
  text-align: center;
  color: grey;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

@media (min-width: 1200px) {
  .reserveren__timeslots__message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

.reserveren__reservateButtonContainer__message {
  color: red;
  font-style: italic;
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 120px;
  width: 100%;
}

.reserveren__reservateButtonContainer__reservateButton {
  background-color: #336633;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 90%;
  height: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 9px;
}

.reserveren__reservateButtonContainer__reservateButton__subtitle {
  font-size: 0.625rem;
  font-style: italic;
}

@media (min-width: 1200px) {
  .reserveren__reservateButtonContainer__reservateButton__subtitle {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .reserveren__reservateButtonContainer__reservateButton {
    height: 4.75rem;
    font-size: 2rem;
  }
}

.reserveren__reservateButtonContainer__reservateButton--disable {
  color: #828282;
  background-color: #C4C4C4;
  border-color: #828282;
  pointer-events: none;
}

.login {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco2.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.login__form__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.login__form__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.login__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login__form__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #336633;
  cursor: pointer;
}

.profiel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco1.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.profiel__wijzigen {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 25px;
  background-color: #336633;
  border-radius: 10px;
  color: white;
}

.profiel__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.profiel__form__header {
  text-align: center;
}

.profiel__form__imgcontainer {
  width: 150px;
  height: 150px;
  border: 2px solid #336633;
  margin: auto;
  background: lightgrey;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profiel__form__imgcontainer__profielfoto {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.profiel__form__imgcontainer__icons {
  color: white;
  margin: auto;
  position: fixed;
  top: 230px;
  cursor: pointer;
}

.profiel__form__input {
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  background: transparant;
  color: black;
}

.profiel__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.profiel__form__logout {
  color: #336633;
}

.profielReserveringen {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco1.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.profielReserveringen__container {
  height: 90%;
  overflow-y: auto;
}

.profielReserveringen__table {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
}

.profielReserveringen td, .profielReserveringen th {
  border: 1px solid #336633;
  text-align: left;
  padding: 10px;
}

.profielReserveringen__linkcontainer {
  margin: 10px;
}

.profielReserveringen__linkcontainer__link {
  color: #336633;
  cursor: pointer;
}

.register {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco4.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.register__form__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.register__form__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.register__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register__form__link {
  padding: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #336633;
}

.wachtwoordHerstel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco2.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.wachtwoordHerstel__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.wachtwoordHerstel__form__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.wachtwoordHerstel__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wachtwoordHerstel__form__link {
  padding: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #336633;
}

.wachtwoordReset {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco2.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.wachtwoordReset__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.wachtwoordReset__form--hide {
  display: none !important;
}

.wachtwoordReset__form__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.wachtwoordReset__form__input {
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  padding: 0.75em;
}

.wachtwoordReset__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wachtwoordReset__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wachtwoordReset__section p {
  color: red;
  font-style: italic;
  padding: 50px;
}

.wachtwoordWijzigen {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco1.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.wachtwoordWijzigen__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  margin: auto;
}

.wachtwoordWijzigen__form__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.wachtwoordWijzigen__form__input {
  display: block;
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.wachtwoordWijzigen__linkcontainer {
  margin: 10px;
}

.wachtwoordWijzigen__linkcontainer__link {
  color: #336633;
  cursor: pointer;
}

.betaling {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco2.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.betaling__button {
  background-color: #336633;
  color: white;
  width: 300px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 25px;
}

.betaling__button:hover {
  background-color: #996501;
  cursor: pointer;
}

.betaling__orderid {
  margin-top: 10vh;
}

.betaling__orderid__text {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  width: 25vw;
}

.betaling__orderid__ordernr {
  font-size: 30px;
  margin-bottom: 10vh;
  text-align: center;
}

.betaling__price__text {
  font-size: 25px;
  margin-bottom: 2vh;
}

.betaling__logo {
  width: 25vw;
}

.betaling__header {
  color: #336633;
  text-align: center;
  font-weight: 1000;
  margin-bottom: 5vh;
}

.betaling__succes__text {
  text-align: center;
  padding: 0 30px;
  margin-bottom: 10vh;
}

.betaling__succes__text__redirect {
  color: #336633;
  text-decoration: underline;
}

.betaling__succes__text__redirect:hover {
  color: #996501;
}

.betaling__succes__text__redirect:active {
  color: #5c471f;
}

.bestellen {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco3.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-blend-mode: screen;
}

.bestellen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  height: 27px;
  width: 100%;
  margin: 0;
  margin-bottom: 6vh;
}

.bestellen__header__title {
  text-align: center;
  color: #336633;
  font-weight: 600;
  width: 100%;
}

.bestellen__cart__overzicht {
  background-color: white;
  height: 60%;
  width: 70%;
  max-width: 500px;
  position: fixed;
  top: 51px;
  right: 0;
  border-bottom-left-radius: 2vh;
  border-left: solid 3px #4a4a4a;
  -webkit-box-shadow: 0px 7px #4a4a4a;
          box-shadow: 0px 7px #4a4a4a;
  z-index: 11113;
}

.bestellen__cart__overzicht__totaal {
  text-align: center;
  font-size: 1.4em;
  margin-top: 2.5vh;
}

.bestellen__cart__container {
  height: 85%;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 5%;
}

.bestellen__cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  position: relative;
  min-height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.bestellen__cart__item__c1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100%;
  min-width: 40%;
}

.bestellen__cart__item__c1__itemtitle {
  font-size: 1em;
  margin: 0;
}

.bestellen__cart__item__c2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25%;
  min-height: 100%;
  text-align: center;
}

.bestellen__cart__item__c3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 35%;
  min-height: 100%;
}

.bestellen__cart__item__c3__itemprize {
  text-align: right;
}

.bestellen--container_categories {
  width: 90%;
  height: 68%;
  overflow: auto;
  margin-bottom: 6%;
  padding: 0;
  position: relative;
}

.bestellen__theroof {
  width: 100%;
  height: 71%;
  overflow: auto;
  position: relative;
  border-radius: 0;
  background: transparent;
}

.bestellen__theroof__c1 {
  position: relative;
  height: 17%;
  width: 100%;
  background-color: #6F5000;
}

.bestellen__theroof__c1__paragraph {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: calc(0.7em + 1.4vmin);
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .bestellen__theroof__c1__paragraph {
    font-size: calc(0.7em + 1.1vmin);
  }
}

.bestellen__theroof__c2 {
  height: 75%;
  width: 85%;
  position: relative;
  margin: 5% auto 0 auto;
  overflow: auto;
  padding: 0 5% 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.bestellen__theroof__c2__griditem {
  height: 12rem;
  width: 80%;
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 9%;
  background-color: none;
  border: 1px solid rgba(63, 63, 63, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-image: url("https://i.imgur.com/nr3gTU6.png");
}

@media (min-width: 1200px) {
  .bestellen__theroof__c2__griditem {
    height: 13rem;
  }
}

.bestellen__theroof__c2__griditem__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 22%;
  background-color: #5D8D2D;
  color: white;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 1.1em;
}

@media (min-width: 1200px) {
  .bestellen__theroof__c2__griditem__top {
    height: 26%;
    font-size: 1.3em;
  }
}

.bestellen__theroof__c2__griditem__description {
  padding: 1%;
  margin: 10% auto 0 auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  height: 40%;
  width: 90%;
}

@media (min-width: 1200px) {
  .bestellen__theroof__c2__griditem__description {
    margin: 6% auto 0 auto;
    font-size: 1.1em;
  }
}

.bestellen__theroof__c2__griditem__box {
  height: 39px;
  position: absolute;
  padding: 0 5px;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  text-align: center;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1200px) {
  .bestellen__theroof__c2__griditem__box {
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

.bestellen__bottom {
  position: absolute;
  height: 10%;
  width: 90%;
  margin: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bestellen__menucategorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-height: 15vh;
  height: 22%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  background-size: cover;
  overflow: hidden;
  border: none;
  margin: 0 auto;
  margin-bottom: 3%;
}

.bestellen__menucategorie__title {
  padding: 0;
  margin: 0;
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 2.5em;
  font-weight: 700;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-shadow: 2px 2px 2px black;
}

.bestellen__menucategorie__shadow {
  background-color: black;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 39%;
}

.bevestiging--button {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #336633;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5em;
  pointer-events: auto;
  cursor: pointer;
}

.bevestiging--button__title {
  position: absolute;
  background-color: transparent;
  height: 70%;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.bevestiging--button__description {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 0.5em;
  background-color: transparent;
  height: 30%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-style: none;
}

.--bevestigingsbutton__inactive {
  background-color: gray;
  pointer-events: none;
}

.modal__bestellen {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 10px 5px 10px 10px;
  z-index: 2000;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco3.png");
  background-position: center;
  background-size: 130%;
  max-height: 100%;
  overflow: hidden;
}

.modal__bestellen__overlay {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__bestellen__subcontainer {
  height: 72%;
  width: 100%;
  position: relative;
  overflow-y: auto;
  padding: 0 5% 5% 5%;
  margin: 0 auto;
}

.modal__bestellen__title {
  color: #996501;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin: 5% auto 6% auto;
}

.modal__bestellen__close {
  position: absolute;
  top: 1%;
  right: 4%;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #3d3d3d;
}

.modal__bestellen .--bevestig_bestelling {
  position: absolute;
  left: 50%;
  margin: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 90%;
  height: 50%;
  border: 1.5px solid #888888;
  border-radius: 1vh;
  -webkit-box-shadow: 1px 2px #888888;
          box-shadow: 1px 2px #888888;
  font-size: 1em;
}

.modal__bestellen .bottom {
  position: relative;
  max-height: 15%;
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
}

.modal__bestellen__item:first-child {
  border-top: 1px solid black;
}

.modal__bestellen__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  position: relative;
  min-height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.modal__bestellen__item__container1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40%;
  margin: 0;
  float: left;
  min-height: 100%;
  padding: 3% 0;
}

.modal__bestellen__item__container1__itemtitle {
  font-size: 1em;
  margin: 0;
}

.modal__bestellen__item__container1__itemdescription {
  width: 100%;
  font-size: 0.8em;
  margin: 0;
}

.modal__bestellen__item__container2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  position: relative;
  width: 20%;
  margin: 0;
}

.modal__bestellen__item__container2__itemprize {
  width: 90%;
  font-size: 1em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__bestellen__item__container3 {
  width: 37%;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.button_item {
  position: relative;
  display: inline-block;
  width: 42%;
  max-width: 100px;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  border: 1.2px solid #49390e;
}

.button_item input[type=number] {
  -moz-appearance: textfield;
}

.button_item input::-webkit-outer-spin-button,
.button_item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number.qtyicon {
  background-color: none;
  height: 100%;
  padding: 0 5px;
  border: none;
}

.button_item input {
  background-color: transparent;
  display: inline-block;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 33%;
  text-align: center;
  font-weight: bold;
}

.button_item .minus,
.button_item .plus {
  padding: 9%;
  height: 100%;
  max-width: 33%;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.button_item input::-webkit-inner-spin-button,
.button_item input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.header {
  width: 100vw;
  height: 51px;
  background-image: url(https://rubenjerry.nl/wp-content/images/deco4.png);
  background-size: cover;
  background-position: center;
  background-position-x: -35px;
  margin: 0;
  padding: 0 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header {
    background: none;
    background-color: transparent;
    color: white;
  }
}

.header__back {
  padding: 0;
  margin: 0;
  width: 24px;
  background: none;
  border: none;
  z-index: 1;
  outline: none;
}

@media (min-width: 1200px) {
  .header__back {
    color: white;
  }
}

.header__title {
  width: 100%;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

.header__cart {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  width: 35px;
  pointer-events: inherit;
  position: relative;
  cursor: pointer;
  z-index: 3000;
}

.header__cart__image {
  width: 100%;
  height: 100%;
}

.header__cart__imageindicator {
  position: absolute;
  bottom: -5%;
  right: -15%;
  width: 60%;
  height: 55%;
  background-color: red;
  border-radius: 50%;
  font-size: 0.55em;
  text-align: center;
  color: white;
  padding-top: 3px;
  font-weight: bold;
  font-style: normal;
}

.bestellenOverzicht {
  position: relative;
  overflow: auto;
  width: 98%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco3.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
}

.bestellenOverzicht__totaal {
  width: 100%;
  position: absolute;
  height: 3%;
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bestellenOverzicht__itemsContainer {
  padding: 0 5% 5% 5%;
  width: 90%;
  height: 55%;
  max-height: 500px;
  margin: 6% auto 4% auto;
  overflow: auto;
}

.bestellenOverzicht__form {
  width: 89%;
  bottom: 16%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 15%;
  max-height: 150px;
  position: absolute;
}

.bestellenOverzicht__form__label {
  width: 100%;
  color: gray;
}

.bestellenOverzicht__form__inputfield {
  width: 100%;
  border: 1px solid silver;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 2.5% 2.5% 13.5% 2.5%;
}

.bestellenOverzicht__buttonContainer {
  position: absolute;
  height: 10%;
  width: 90%;
  margin: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1vh;
  overflow: hidden;
}

.bestellenOverzicht__buttonContainer__buttonBestel {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #336633;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5em;
  pointer-events: auto;
  cursor: pointer;
}

.--inactiveButton {
  background-color: gray;
  pointer-events: none;
}

.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (min-width: 1200px) {
  .home__header {
    height: 150px;
  }
}

.home__header img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1200px) {
  .home__header img {
    width: 40%;
  }
}

.home__header__link {
  color: white;
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.home__header__link--profiel {
  color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: calc(90% - 100px);
  padding: 0;
  margin: 0;
}

.home__container__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-gap: 20px;
}

@media (min-width: 1200px) {
  .home__container__grid {
    width: 35%;
  }
}

.home__container__grid__button {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: white;
  color: #996501;
  font-weight: 900;
  font-size: 36px;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco4.png");
  background-size: 95%;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: none;
}

.home__container__grid__button--afhalen {
  background-position: 200% 30%;
}

@media (min-width: 1200px) {
  .home__container__grid__button--afhalen {
    background-position: 0% 30%;
  }
}

.home__container__grid__button--reserveren {
  background-position: 170% 60%;
}

@media (min-width: 1200px) {
  .home__container__grid__button--reserveren {
    background-position: 0% 60%;
  }
}

.home__container__grid__button--bijbestellen {
  background-color: #336633;
  color: white;
  background-position: 0% 80%;
}

.home__container__grid__button__icons {
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.bestelvalidatie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco2.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.bestelvalidatie__radiobuttons__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 25px 0 25px;
  margin: auto;
}

.bestelvalidatie__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 25px 25px 25px;
  margin: auto;
}

.bestelvalidatie__form__labels {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.bestelvalidatie__form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

.bestelvalidatie__form__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.bestelvalidatie__form__button {
  background-color: #336633;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bestelvalidatie__form__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #336633;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */