.roosters{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 80%;
        }

        h2{
            font-size: 2.5rem;
        }
        &__button{
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: none;
            background-color: $green;
            color: white;
            padding: 10px;
            text-decoration: none;
            &__icon{
                margin: 0 5px;
            }
        }
    }
    &__table{
        width: 90%;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 80%;
        }
        margin: 15px auto;
        margin-bottom: 1rem;
        color: #212529;
        margin-top: 15px;
        border-collapse: collapse;

        thead{
            th{
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                border-top: 1px solid #dee2e6;
                padding: 0.75rem;
                text-align: left;
            }
        }
        &__icon{
            border: none !important;
            display: flex !important;
            font-size: 1em !important;
            align-items: center;

            align-content: center;
            color: $green;

            a{
                text-decoration: none;
                color: $green;
                font-size: 1.2em !important;
            }
        }
        th, td{
            border-top: 1px solid #dee2e6;
            vertical-align: top;
            padding: 0.75rem;


        }

        tbody{
            tr:nth-of-type(even){
                background-color: rgba(51,102,51, 0.1);
            }
            &tr:hover{
                $background-color: rgba(51,102,51, 0.5);

            }
        }

        
        
        
    }
    &__form{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 90%;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 70%;
        }
        
        &__label{
            margin-top: 10px;
        }
        &__input{
            margin-top: 5px;
            padding: 0.75em;
        }
        &__formset{
            border: none;
            display: grid;
            grid-gap: 20px;
            margin-top: 10px;
            grid-template-rows: repeat(2, 1fr);
            @include for-desktop-up {
                grid-template-columns: repeat(2, 1fr);
            }
            
            section{
                display: flex;
                flex-direction: column;
            }
            &__input{
                padding: 0.75em;
            }
            &__label{
                width: auto;
            }
        }
        h3{
            margin-top: 10px;
        }
        &__table{
            &__input{
                padding: 0.75em;
                margin-top: 5px;
                width: 90%;
            }
        }
        &__submit{
            background-color: $green;
            color: white;
            border: none;
            padding: 0.75em;
            margin-top: 10px;
        }
    }
}