@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
* {
    box-sizing: border-box;
    font-family: $font-family;
}
body{
    background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/06/background_home-2000x1043.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}