.container{
    background-color: white;
    width: 85%;
    margin: 25px auto;
    height: 85%;
    border-radius: 10px;

    @include for-desktop-up {
        width: 35%;
        height: 75%;
    }
}

.bestellen{
    overflow: auto;
    max-height: 78%;
}

.bottom{
    position: relative;
    max-height: 12%;
    width: 100%;
    height: 100%;
}

