.reserveren{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco3.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-between;
        padding:10px 10px;
        height: 27px;
        width: 100%;
        margin:0;
        position: relative;
        @include for-desktop-up {
            height: 47px;
        }
        &__title{
            width: 100%;
            justify-content: center;
            text-align: center;
            position: absolute;
            display: flex;
            left: 0;
            @include for-desktop-up {
                font-size: 1.5rem;
            }
            &__icon{
                font-size: 0.75rem !important;
                display: flex;
                align-self: center;
                padding: 0 5px;
                color: $green;
                pointer-events: all;
                background: transparent;
                border: none;
                outline: none;
                @include for-desktop-up {
                    font-size: 1rem !important;
                }
            }
            pointer-events: none;
        }
        &__nextDay{
            height: 20px;
            padding: 0;
            display: flex;
            align-items: center;
            align-content: center;
            background: transparent;
            border: none;
            outline: none;
            &--hide{
                opacity: 0 !important;
                pointer-events: none;
            }
            @include for-desktop-up {
                font-size: 34px !important;
            }
        }
        &__previousDay{
            height: 20px;
            padding: 0;
            display: flex;
            align-items: center;
            align-content: center;
            background: transparent;
            border: none;
            outline: none;
            &--hide{
                opacity: 0 !important;
                pointer-events: none;
            }
            @include for-desktop-up {
                font-size: 34px !important;
            }
        }
        &__calendar{
            background-color: white;
            position: absolute;
            width: 110%;
            height: 80px;
            margin: 0 auto;
            top: 75px;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            border-radius: 10px;
            @include for-desktop-up {
                width: 90%;
                top: 85px;
            }
            &__date{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: transparent;
                border: none;
                outline: none;
                color: $green;
                &--active{
                    background-color: $green;
                    color: white;
                    border-radius: 10px;
                }
                &:hover{
                    background-color: $green;
                    color: white;
                    border-radius: 10px;
                }
                &__day{
                    font-size: 1.5rem;
                    
                }
                &__month{
                    font-size: 1.2rem;
                }
                &__year{
                    font-size: 0.8rem;
                }
            }
            &__today{
                grid-column: 1 / span 7;
                background-color: white;
                color: $green;
                border: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                height: 30px;
                &:hover{
                    background-color: $green;
                    color: white;
                }
                &--active{
                    background-color: $green;
                    color: white;
                }
            }
        }
    }
    &__subTitle{
        padding: 0.5rem 1rem;
        @include for-desktop-up {
            font-size: 1.1em;
        }
    }
    &__locations{
        padding: 0 1rem;
        display: flex;
        &__location{
            // height: 28px;
            min-width: 85px;
            color: $green;
            border: 1px $green solid;
            padding: 6px;
            border-radius: 5px;
            margin-right: 0.5rem;
            display: flex;
            justify-content: center;
            background-color: transparent;
            outline: none;
            &--active{
                color: white;
                background-color: $green;
            }
            @include for-desktop-up {
                height: 2.5rem;
                width: calc(100%/2);
                align-items: center;
                font-size: 1rem;
            }
        }
    }
    &__persons{
        margin: 0 1rem;
        border: 1px solid black;
        height: 28px;
        width: 85px;
        border-radius: 5px;
        display:flex;
        @include for-desktop-up {
            height: 2.5rem;
        }
        &__input{
            height: 28px;
            width: 33.33%;
            border: none;
            background-color: transparent;
            text-align: center;
            display:flex;
            align-items: center;
            outline: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }
            -moz-appearance: textfield;
            @include for-desktop-up {
                height: 2.5rem;
                font-size: 1rem;
            }
        }
        &__button{
            background: none;
            height: 28px;
            width: 33.33%;
            border: none;
            padding: 0;
            display:flex;
            align-items: center;
            outline: none;
            @include for-desktop-up {
                height: 2.5rem;
            }
        }

    }
    &__timeslots{
        display: grid;
        margin: 0 1rem;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        @include for-desktop-up {
            grid-template-columns: repeat(4, 1fr);
        }
        &__timeslot{
            // min-width: 85px;
            height: 2.5rem;
            color: $green;
            border: 1px $green solid;
            padding: 0px;
            border-radius: 5px;
            font-weight: bolder;
            margin-top: 0.4rem;
            margin-right: 0.4rem;
            display: flex;
            font-size: 0.8rem;
            @include for-desktop-up {
                font-size: 0.85rem;
            }
            justify-content: center;
            align-items: center;
            outline: none;
            background-color: transparent;
            &:active + &--active{
                color: white;
                background-color: $green;
            }
            &--notAvailable{
                color: #828282;
                background-color: #C4C4C4;
                border-color: #828282;
                pointer-events: none;
            }
            &--active{
                background-color: $green;
                color: white;
            }
        }
        &__message{
            font-size: 0.6em;
            width: 100%;
            text-align: center;
            color: grey;
            grid-column: 1 / span 3;
            @include for-desktop-up {
                grid-column: 1 / span 4;
            }
        }
    }

    &__reservateButtonContainer{
        &__message{
            color: red;
            font-style: italic;
            font-size: 1em;
            text-align: center;
            position: absolute;
            bottom: 120px;
            width: 100%;
            
        }
        &__reservateButton{
            background-color: $green;
            color: white;
            display: flex;
            flex-direction: column;
            border: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            width: 90%;
            height: 3.125rem;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            text-align: center;
            transform: translate(-50%, -50%);
            border-radius: 9px;
            &__subtitle{
                font-size: 	0.625rem;
                font-style: italic;
                @include for-desktop-up {
                    font-size: 0.8rem;
                }
            }
            @include for-desktop-up {
                height: 4.75rem;
                font-size: 2rem;
            }
            &--disable{
                color: #828282;
                background-color: #C4C4C4;
                border-color: #828282;
                pointer-events: none;
            }
        }

    }
}