@import url("https://fonts.googleapis.com/css?family=Nunito");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.container {
  background-color: white;
  width: 85%;
  margin: 25px auto;
  height: 85%;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 35%;
    height: 75%;
  }
}

.header {
  width: 100vw;
  height: 51px;
  background-image: url(https://rubenjerry.nl/wp-content/images/deco4.png);
  background-size: cover;
  background-position: center;
  background-position-x: -35px;
  margin: 0;
  padding: 0 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header {
    background: none;
    color: white;
  }
}

.header__back {
  padding: 0;
  margin: 0;
  width: 24px;
}

.header__title {
  width: 100%;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  left: 0;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "muli", sans-serif;
}

body {
  background-image: url(https://rubenjerry.nl/wp-content/uploads/2019/06/background_home-2000x1043.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "muli", sans-serif;
}

.reserveren {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://rubenjerry.nl/wp-content/images/deco3.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  position: relative;
}

.reserveren__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  height: 27px;
  width: 100%;
  margin: 0;
  position: relative;
}

@media (min-width: 1200px) {
  .reserveren__header {
    height: 47px;
  }
}

.reserveren__header__title {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__title {
    font-size: 1.5rem;
  }
}

.reserveren__header__title__icon {
  font-size: 0.75rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 5px;
  color: #336633;
  pointer-events: all;
  background: transparent;
  border: none;
  outline: none;
}

@media (min-width: 1200px) {
  .reserveren__header__title__icon {
    font-size: 1rem !important;
  }
}

.reserveren__header__nextDay {
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: transparent;
  border: none;
  outline: none;
}

.reserveren__header__nextDay--hide {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__nextDay {
    font-size: 34px !important;
  }
}

.reserveren__header__previousDay {
  height: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: transparent;
  border: none;
  outline: none;
}

.reserveren__header__previousDay--hide {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .reserveren__header__previousDay {
    font-size: 34px !important;
  }
}

.reserveren__header__calendar {
  background-color: white;
  position: absolute;
  width: 110%;
  height: 80px;
  margin: 0 auto;
  top: 75px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
          box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .reserveren__header__calendar {
    width: 90%;
    top: 85px;
  }
}

.reserveren__header__calendar__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border: none;
  outline: none;
  color: #336633;
}

.reserveren__header__calendar__date--active {
  background-color: #336633;
  color: white;
  border-radius: 10px;
}

.reserveren__header__calendar__date:hover {
  background-color: #336633;
  color: white;
  border-radius: 10px;
}

.reserveren__header__calendar__date__day {
  font-size: 1.5rem;
}

.reserveren__header__calendar__date__month {
  font-size: 1.2rem;
}

.reserveren__header__calendar__date__year {
  font-size: 0.8rem;
}

.reserveren__header__calendar__today {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  background-color: white;
  color: #336633;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
}

.reserveren__header__calendar__today:hover {
  background-color: #336633;
  color: white;
}

.reserveren__header__calendar__today--active {
  background-color: #336633;
  color: white;
}

.reserveren__subTitle {
  padding: 0.5rem 1rem;
}

@media (min-width: 1200px) {
  .reserveren__subTitle {
    font-size: 1.1em;
  }
}

.reserveren__locations {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reserveren__locations__location {
  min-width: 85px;
  color: #336633;
  border: 1px #336633 solid;
  padding: 6px;
  border-radius: 5px;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  outline: none;
}

.reserveren__locations__location--active {
  color: white;
  background-color: #336633;
}

@media (min-width: 1200px) {
  .reserveren__locations__location {
    height: 2.5rem;
    width: calc(100%/2);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
}

.reserveren__persons {
  margin: 0 1rem;
  border: 1px solid black;
  height: 28px;
  width: 85px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .reserveren__persons {
    height: 2.5rem;
  }
}

.reserveren__persons__input {
  height: 28px;
  width: 33.33%;
  border: none;
  background-color: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -moz-appearance: textfield;
}

.reserveren__persons__input::-webkit-outer-spin-button, .reserveren__persons__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1200px) {
  .reserveren__persons__input {
    height: 2.5rem;
    font-size: 1rem;
  }
}

.reserveren__persons__button {
  background: none;
  height: 28px;
  width: 33.33%;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

@media (min-width: 1200px) {
  .reserveren__persons__button {
    height: 2.5rem;
  }
}

.reserveren__timeslots {
  display: -ms-grid;
  display: grid;
  margin: 0 1rem;
  padding: 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1200px) {
  .reserveren__timeslots {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.reserveren__timeslots__timeslot {
  height: 2.5rem;
  color: #336633;
  border: 1px #336633 solid;
  padding: 0px;
  border-radius: 5px;
  font-weight: bolder;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  background-color: transparent;
}

@media (min-width: 1200px) {
  .reserveren__timeslots__timeslot {
    font-size: 0.85rem;
  }
}

.reserveren__timeslots__timeslot:active + .reserveren__timeslots__timeslot--active {
  color: white;
  background-color: #336633;
}

.reserveren__timeslots__timeslot--notAvailable {
  color: #828282;
  background-color: #C4C4C4;
  border-color: #828282;
  pointer-events: none;
}

.reserveren__timeslots__timeslot--active {
  background-color: #336633;
  color: white;
}

.reserveren__timeslots__message {
  font-size: 0.6em;
  width: 100%;
  text-align: center;
  color: grey;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

@media (min-width: 1200px) {
  .reserveren__timeslots__message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4;
  }
}

.reserveren__reservateButtonContainer__message {
  color: red;
  font-style: italic;
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 120px;
  width: 100%;
}

.reserveren__reservateButtonContainer__reservateButton {
  background-color: #336633;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 90%;
  height: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 9px;
}

.reserveren__reservateButtonContainer__reservateButton__subtitle {
  font-size: 0.625rem;
  font-style: italic;
}

@media (min-width: 1200px) {
  .reserveren__reservateButtonContainer__reservateButton__subtitle {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .reserveren__reservateButtonContainer__reservateButton {
    height: 4.75rem;
    font-size: 2rem;
  }
}

.reserveren__reservateButtonContainer__reservateButton--disable {
  color: #828282;
  background-color: #C4C4C4;
  border-color: #828282;
  pointer-events: none;
}
/*# sourceMappingURL=app.css.map */