.OM__communityInviteCreate{
    text-align: center;

        &__input{
                padding: 10px;
                border: 1px solid  $green;
                box-sizing: border-box;
                border-radius: 25px 0px 0px 25px;   
        }
        &__button{
           background-color: #336633;
           border-radius: 0px 10px 10px 0px;
           color: white;
           height: 42px;
           margin-top: 10px;
           margin-bottom: 10px;
           padding-left: 5px;
           padding-right: 5px;
           border: none;
        }
}