.OM__container{
    width: inherit;
    margin-top: 40px;

    height: auto;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 80%;
        }
        &__successMsg{
            color: green;

        }

        h2{
            font-size: 1.8em;
            @include for-tablet-landscape-up{
                font-size: 2.5rem;
            }
        }
        &__button{
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: none;
            background-color: $green;
            color: white;
            padding: 10px;
            text-decoration: none;
            &__icon{
                margin: 0 5px;
            }
        }
        &__filterContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__prev{
                display: flex;
                align-content: center;
                background: none;
                border: none;
            }
            &__date{
                font-size: 1.5em;
                width: 150px;
                text-align: center;
            }
            &__next{
                display: flex;
                align-content: center;
                background: none;
                border: none;
            }
            &__label{
                margin-right: 5px;
            }
            &__input{
                padding: 0.40em;
                margin-right: 2.5em;
            }
        }
    }
}