.OM__header{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100vw;
    background-image: url(https://rubenjerry.nl/wp-content/images/deco2.png);
    object-fit: fill;
    img{
        object-fit: contain;
    }
    &__details{
        display: flex;
        right: 5px;
        top: 5px;
        position: absolute;
        align-items: center;
        &__signout{
            color: $green;
            display: flex;
            align-items: center;
        }
    }

}