.OM__login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        width: 80%;
        margin: auto;

        &__label{
            display: block;
            padding-top: 10px;

            
        }
        &__input{
            padding: 10px;
            border: 1px solid  $green;
            box-sizing: border-box;
            border-radius: 25px;
        }
        &__button{
            background-color: $green;
            border: none;
            border-radius: 10px;
            color: white;
            height: 50px;  
            margin-top: 10px;
            margin-bottom: 10px;

        }
        &__link{
            display: block;
            text-align: center;
            text-decoration: none;
            font-style: italic;
            color: $green;
            cursor: pointer;
        }
    }


}