.OM__mapEditor{
    width: 80%;
    margin: 10px auto;
    display: flex;
    &__tools{
        display: inline-block;
        width: 150px;
        line-height: 24px;
        vertical-align: top;
        &__button{
            background-color: $green;
            color: white;
            padding: 0.5em;
            border-radius: 10px;
            margin-top: 5px;
            border: none
        }
        &__input{
            width: 130px;
        }
        &__message{
            color: red;
            text-align: center;
            font-style: italic;
            width: 130px;
            display: none;
        }
    }
    &__content{
        display: inline-block;
        width: 870px;
        border: 0.5px solid $green
    }
}