.OM__nav{
    width: 100vw;
    height: 60px;
    background-color: $green;
    display: none;
    @include for-tablet-portrait-up {
        // margin: 40px 40px;
        display: flex;
    }
    justify-content: center;

    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 85%;
        height: inherit;
        background-color: white;
        &__item{
            color: white;
            background-color: $green;
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            width: 100%;
            position: relative;

            &:hover{
                background-color: rgb(92, 133, 92);
            }

            &__dropdown{
                position: absolute;
                top: 60px;
                width: inherit;
                color: $green;
                display: none;
                &__list{
                    list-style: none;
                    width: inherit;
                    &__item{
                        height: 50px;
                        display: flex;
                        width: inherit;
                        background-color: $green;
                        color: white;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            background-color: rgb(92, 133, 92);
                        }
                        &--active{
                            background-color:rgb(92, 133, 92);

                        }
                    }
                }
            }

        }
    }
}