.OM__reservering{
    width: 80%;
    margin: 0 auto;

    &__details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 25px;
        &__column{
            margin-right: 20px;
            h3{
                padding: 0.75em;
                border-bottom: 4px solid rgba(51,102,51,0.5);
                border-top: 1px solid rgba(51,102,51,0.5);
                color: $green;
                
            }
            table{
                width: 100%;
                margin: 15px auto;
                margin-bottom: 1rem;
                color: #212529;
                margin-top: 15px;
                border-collapse: collapse;
                thead{
                    th{
                        vertical-align: bottom;
                        border-bottom: 2px solid #dee2e6;
                        border-top: 1px solid #dee2e6;
                        padding: 0.75rem;
                        text-align: left;
                    }
                }
                tr{
                    th{
                        width: 50%;
                        padding: 0.75em;
                        text-align: start;
                    }
                    td{
                        width: 50%;
                        text-align: center;
                    }
                    
                }
                
               
            }
            &__bestellingTable{
                margin: 15px auto;
                margin-bottom: 1rem;
                color: #212529;
                margin-top: 15px;
                border-collapse: collapse;
        
                thead{
                    th{
                        vertical-align: bottom;
                        border-bottom: 2px solid #dee2e6;
                        border-top: 1px solid #dee2e6;
                        padding: 0.75rem;
                        text-align: left;
                    }
                }
                tbody{
                    tr:nth-of-type(even){
                        background-color: rgba(51,102,51, 0.1);
                    }
                    &tr:hover{
                        $background-color: rgba(51,102,51, 0.5);
        
                    }
                }
                tr{
                    th{
                        width: 50%;
                        padding: 0.75em;
                        text-align: left;
                    }
                    td{
                        width: 50%;
                        padding: 0.75em;
                        text-align: left !important;
                        
                    }
                    
                }
                &__icon{
                    border: none !important;
                    display: flex !important;
                    font-size: 1.2em !important;
                    align-items: center;
                    align-content: center;
                    color: $green;
                    a{
                        text-decoration: none;
                        color: $green;
                        font-size: 1.2em !important;
                    }
                }
            }
            &--colspan{
                grid-column: 1 / span 2;
            }
            &__icon{
                font-size: 1em !important;
                width: 16px !important;
            }
        }
    }
}