.OM__reserveringen{
    &__list{
        width: 90%;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 80%;
        }
        margin: 15px auto;
        margin-bottom: 1rem;
        color: #212529;
        margin-top: 15px;
        border-collapse: collapse;
        list-style: none;
        &__item{
            &__time{
                height: 2em;
                font-size: 1em;
                padding-left: 10px;
                display: flex;
                align-items: center;
                background-color: #F5F5F5;
            }
            &__table{
                width: 100%;
                border-collapse: separate;
                border-spacing:0 15px; 
                &__row{
                    border-radius: 5px;

                    border: none;
                    width: 100%;
                    color: black;
                    &--green{
                        background-color: #55FEA8;
                    }
                    &--yellow{
                        background-color: #FFD94D;
                    }
                    &--blue{
                        background-color: #0A85FA;
                    }
                    &--red{
                        background-color: #FE5657;
                    }
                    &__column{
                        padding: 0.75em;
                        
                        &:last-child{
                            border-radius: 0 5px 5px 0;
                        }
                        &:first-child{
                            border-radius: 5px 0 0  5px;

                        }
                        &__time{
                            background-color: $green;
                            padding: 0.25em;
                            width: 80px;
                            display:flex;
                            justify-content: center;
                            border-radius: 5px;
                            color: white;

                        }
                        &--name{
                            width: 65%;
                        }
                        &--time{
                            width:120px;
                        }
                    }
                }
            }
        }
    }
}