.OM__ReserveringenMap{
    margin: 10px auto;
    width: 85%;
    display: flex;
    justify-content: center;
    @include for-desktop-up {
        // margin: 40px 40px;
        width: 70%;
    }
    &__content{
        border: 0.5px solid $green;
        min-width: 70%;
        max-width: 100%;
        
        
        height: auto;
    }
}