.OM__tijdsloten{
    &__table{
        width: 90%;
        @include for-desktop-up {
            // margin: 40px 40px;
            width: 80%;
        }
        margin: 15px auto;
        margin-bottom: 1rem;
        color: #212529;
        margin-top: 15px;
        border-collapse: collapse;

        thead{
            th{
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                border-top: 1px solid #dee2e6;
                padding: 0.75rem;
                text-align: left;
            }
        }
        &__icon{
            border: none !important;
            display: flex !important;
            font-size: 1em !important;
            align-items: center;

            align-content: center;
            color: $green;

            a{
                text-decoration: none;
                color: $green;
                font-size: 1.2em !important;
            }
        }
        th, td{
            border-top: 1px solid #dee2e6;
            vertical-align: top;
            padding: 0.75rem;


        }

        tbody{
            tr:nth-of-type(even){
                background-color: rgba(51,102,51, 0.1);
            }
            &tr:hover{
                $background-color: rgba(51,102,51, 0.5);

            }
        }
        &__successMsg{
            color: green;
            margin-left: 15px;
        }
        
        
        
}
}