/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "muli", sans-serif;
}

.OM__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  width: 100vw;
  background-image: url(https://rubenjerry.nl/wp-content/images/deco2.png);
  -o-object-fit: fill;
     object-fit: fill;
}

.OM__header img {
  -o-object-fit: contain;
     object-fit: contain;
}

.OM__header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 5px;
  top: 5px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OM__header__details__signout {
  color: #336633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OM__nav {
  width: 100vw;
  height: 60px;
  background-color: #336633;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 600px) {
  .OM__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.OM__nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 85%;
  height: inherit;
  background-color: white;
}

.OM__nav__list__item {
  color: white;
  background-color: #336633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  width: 100%;
  position: relative;
}

.OM__nav__list__item:hover {
  background-color: #5c855c;
}

.OM__nav__list__item__dropdown {
  position: absolute;
  top: 60px;
  width: inherit;
  color: #336633;
  display: none;
}

.OM__nav__list__item__dropdown__list {
  list-style: none;
  width: inherit;
}

.OM__nav__list__item__dropdown__list__item {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  background-color: #336633;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OM__nav__list__item__dropdown__list__item:hover {
  background-color: #5c855c;
}

.OM__nav__list__item__dropdown__list__item--active {
  background-color: #5c855c;
}

.OM__container {
  width: inherit;
  margin-top: 40px;
  height: auto;
}

.OM__container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .OM__container__header {
    width: 80%;
  }
}

.OM__container__header__successMsg {
  color: green;
}

.OM__container__header h2 {
  font-size: 1.8em;
}

@media (min-width: 900px) {
  .OM__container__header h2 {
    font-size: 2.5rem;
  }
}

.OM__container__header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: none;
  background-color: #336633;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.OM__container__header__button__icon {
  margin: 0 5px;
}

.OM__container__header__filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.OM__container__header__filterContainer__prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border: none;
}

.OM__container__header__filterContainer__date {
  font-size: 1.5em;
  width: 150px;
  text-align: center;
}

.OM__container__header__filterContainer__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background: none;
  border: none;
}

.OM__container__header__filterContainer__label {
  margin-right: 5px;
}

.OM__container__header__filterContainer__input {
  padding: 0.40em;
  margin-right: 2.5em;
}

.OM__roosters__header {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 1200px) {
  .OM__roosters__header {
    width: 80%;
  }
}

.OM__roosters__confirm {
  margin: 10px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__roosters__confirm {
    width: 80%;
  }
}

.OM__roosters__confirm__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.OM__roosters__confirm__btnContainer__btn {
  margin: 15px 0;
  padding: 0.75em;
  border: none;
  color: white;
  border-radius: 9px;
  width: 75px;
}

.OM__roosters__confirm__btnContainer__btn--yes {
  background-color: red;
}

.OM__roosters__confirm__btnContainer__btn--no {
  background-color: green;
}

.OM__roosters__table {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

@media (min-width: 1200px) {
  .OM__roosters__table {
    width: 80%;
  }
}

.OM__roosters__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__roosters__table__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__roosters__table__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__roosters__table th, .OM__roosters__table td {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}

.OM__roosters__table tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.1);
}

.OM__roosters__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__roosters__form {
    width: 80%;
  }
}

.OM__roosters__form__label {
  margin-top: 10px;
}

.OM__roosters__form__input {
  margin-top: 5px;
  padding: 0.75em;
}

.OM__roosters__form__formset {
  border: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 1200px) {
  .OM__roosters__form__formset {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.OM__roosters__form__formset section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OM__roosters__form__formset__input {
  padding: 0.75em;
}

.OM__roosters__form__formset__label {
  width: auto;
}

.OM__roosters__form h3 {
  margin-top: 10px;
}

.OM__roosters__form__table__input {
  padding: 0.75em;
  margin-top: 5px;
  width: 90%;
}

.OM__roosters__form__submit {
  background-color: #336633;
  color: white;
  border: none;
  padding: 0.75em;
  margin-top: 10px;
}

.OM__roosters__form__successMsg {
  color: green;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__roosters__form__errorMsg {
  color: red;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__tijdsloten__table {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

@media (min-width: 1200px) {
  .OM__tijdsloten__table {
    width: 80%;
  }
}

.OM__tijdsloten__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__tijdsloten__table__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__tijdsloten__table__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__tijdsloten__table th, .OM__tijdsloten__table td {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}

.OM__tijdsloten__table tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.1);
}

.OM__tijdsloten__table__successMsg {
  color: green;
  margin-left: 15px;
}

.OM__reserveringen__list {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
  list-style: none;
}

@media (min-width: 1200px) {
  .OM__reserveringen__list {
    width: 80%;
  }
}

.OM__reserveringen__list__item__time {
  height: 2em;
  font-size: 1em;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
}

.OM__reserveringen__list__item__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.OM__reserveringen__list__item__table__row {
  border-radius: 5px;
  border: none;
  width: 100%;
  color: black;
}

.OM__reserveringen__list__item__table__row--green {
  background-color: #55FEA8;
}

.OM__reserveringen__list__item__table__row--yellow {
  background-color: #FFD94D;
}

.OM__reserveringen__list__item__table__row--blue {
  background-color: #0A85FA;
}

.OM__reserveringen__list__item__table__row--red {
  background-color: #FE5657;
}

.OM__reserveringen__list__item__table__row__column {
  padding: 0.75em;
}

.OM__reserveringen__list__item__table__row__column:last-child {
  border-radius: 0 5px 5px 0;
}

.OM__reserveringen__list__item__table__row__column:first-child {
  border-radius: 5px 0 0  5px;
}

.OM__reserveringen__list__item__table__row__column__time {
  background-color: #336633;
  padding: 0.25em;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: white;
}

.OM__reserveringen__list__item__table__row__column--name {
  width: 65%;
}

.OM__reserveringen__list__item__table__row__column--time {
  width: 120px;
}

.OM__mapEditor {
  width: 80%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OM__mapEditor__tools {
  display: inline-block;
  width: 150px;
  line-height: 24px;
  vertical-align: top;
}

.OM__mapEditor__tools__button {
  background-color: #336633;
  color: white;
  padding: 0.5em;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
}

.OM__mapEditor__tools__input {
  width: 130px;
}

.OM__mapEditor__tools__message {
  color: red;
  text-align: center;
  font-style: italic;
  width: 130px;
  display: none;
}

.OM__mapEditor__content {
  display: inline-block;
  width: 870px;
  border: 0.5px solid #336633;
}

.OM__ReserveringenMap {
  margin: 10px auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .OM__ReserveringenMap {
    width: 70%;
  }
}

.OM__ReserveringenMap__content {
  border: 0.5px solid #336633;
  min-width: 70%;
  max-width: 100%;
  height: auto;
}

.OM__reservering {
  width: 80%;
  margin: 0 auto;
}

.OM__reservering__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
}

.OM__reservering__details__column {
  margin-right: 20px;
}

.OM__reservering__details__column h3 {
  padding: 0.75em;
  border-bottom: 4px solid rgba(51, 102, 51, 0.5);
  border-top: 1px solid rgba(51, 102, 51, 0.5);
  color: #336633;
}

.OM__reservering__details__column table {
  width: 100%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

.OM__reservering__details__column table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__reservering__details__column table tr th {
  width: 50%;
  padding: 0.75em;
  text-align: start;
}

.OM__reservering__details__column table tr td {
  width: 50%;
  text-align: center;
}

.OM__reservering__details__column__bestellingTable {
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

.OM__reservering__details__column__bestellingTable thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__reservering__details__column__bestellingTable tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.1);
}

.OM__reservering__details__column__bestellingTable tr th {
  width: 50%;
  padding: 0.75em;
  text-align: left;
}

.OM__reservering__details__column__bestellingTable tr td {
  width: 50%;
  padding: 0.75em;
  text-align: left !important;
}

.OM__reservering__details__column__bestellingTable__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1.2em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__reservering__details__column__bestellingTable__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__reservering__details__column--colspan {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.OM__reservering__details__column__icon {
  font-size: 1em !important;
  width: 16px !important;
}

.OM__login {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.OM__login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  width: 80%;
  margin: auto;
}

.OM__login__form__label {
  display: block;
  padding-top: 10px;
}

.OM__login__form__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.OM__login__form__button {
  background-color: #336633;
  border: none;
  border-radius: 10px;
  color: white;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.OM__login__form__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #336633;
  cursor: pointer;
}

.OM__communityInvites__header {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 1200px) {
  .OM__communityInvites__header {
    width: 80%;
  }
}

.OM__communityInvites__confirm {
  margin: 10px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__communityInvites__confirm {
    width: 80%;
  }
}

.OM__communityInvites__confirm__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.OM__communityInvites__confirm__btnContainer__btn {
  margin: 15px 0;
  padding: 0.75em;
  border: none;
  color: white;
  border-radius: 9px;
  width: 75px;
}

.OM__communityInvites__confirm__btnContainer__btn--yes {
  background-color: red;
}

.OM__communityInvites__confirm__btnContainer__btn--no {
  background-color: green;
}

.OM__communityInvites__table {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

@media (min-width: 1200px) {
  .OM__communityInvites__table {
    width: 80%;
  }
}

.OM__communityInvites__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__communityInvites__table__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__communityInvites__table__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__communityInvites__table th, .OM__communityInvites__table td {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}

.OM__communityInvites__table tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.1);
}

.OM__communityInvites__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__communityInvites__form {
    width: 80%;
  }
}

.OM__communityInvites__form__label {
  margin-top: 10px;
}

.OM__communityInvites__form__input {
  margin-top: 5px;
  padding: 0.75em;
}

.OM__communityInvites__form__formset {
  border: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 1200px) {
  .OM__communityInvites__form__formset {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.OM__communityInvites__form__formset section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OM__communityInvites__form__formset__input {
  padding: 0.75em;
}

.OM__communityInvites__form__formset__label {
  width: auto;
}

.OM__communityInvites__form h3 {
  margin-top: 10px;
}

.OM__communityInvites__form__table__input {
  padding: 0.75em;
  margin-top: 5px;
  width: 90%;
}

.OM__communityInvites__form__submit {
  background-color: #336633;
  color: white;
  border: none;
  padding: 0.75em;
  margin-top: 10px;
}

.OM__communityInvites__form__successMsg {
  color: green;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__communityInvites__form__errorMsg {
  color: red;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__communityInviteCreate {
  text-align: center;
}

.OM__communityInviteCreate__input {
  padding: 10px;
  border: 1px solid #336633;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px 0px 0px 25px;
}

.OM__communityInviteCreate__button {
  background-color: #336633;
  border-radius: 0px 10px 10px 0px;
  color: white;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

.OM__klanten__header {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 1200px) {
  .OM__klanten__header {
    width: 80%;
  }
}

.OM__klanten__table {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

@media (min-width: 1200px) {
  .OM__klanten__table {
    width: 80%;
  }
}

.OM__klanten__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__klanten__table__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__klanten__table__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__klanten__table th, .OM__klanten__table td {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
}

.OM__klanten__table tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.1);
}

.OM__klanten__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__klanten__form {
    width: 80%;
  }
}

.OM__klanten__form__label {
  margin-top: 10px;
}

.OM__klanten__form__input {
  margin-top: 5px;
  padding: 0.75em;
}

.OM__klanten__form__formset {
  border: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 1200px) {
  .OM__klanten__form__formset {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.OM__klanten__form__formset section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OM__klanten__form__formset__input {
  padding: 0.75em;
}

.OM__klanten__form__formset__label {
  width: auto;
}

.OM__klanten__form h3 {
  margin-top: 10px;
}

.OM__klanten__form__table__input {
  padding: 0.75em;
  margin-top: 5px;
  width: 90%;
}

.OM__klanten__form__submit {
  background-color: #336633;
  color: white;
  border: none;
  padding: 0.75em;
  margin-top: 10px;
}

.OM__klanten__form__successMsg {
  color: green;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__klanten__form__errorMsg {
  color: red;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__bestellingen__header {
  width: 90%;
  margin: 10px auto;
}

@media (min-width: 1200px) {
  .OM__bestellingen__header {
    width: 80%;
  }
}

.OM__bestellingen__confirm {
  margin: 10px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__bestellingen__confirm {
    width: 80%;
  }
}

.OM__bestellingen__confirm__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.OM__bestellingen__confirm__btnContainer__btn {
  margin: 15px 0;
  padding: 0.75em;
  border: none;
  color: white;
  border-radius: 9px;
  width: 75px;
}

.OM__bestellingen__confirm__btnContainer__btn--yes {
  background-color: red;
}

.OM__bestellingen__confirm__btnContainer__btn--no {
  background-color: green;
}

.OM__bestellingen__table {
  width: 90%;
  margin: 15px auto;
  margin-bottom: 1rem;
  color: #212529;
  margin-top: 15px;
  border-collapse: collapse;
}

@media (min-width: 1200px) {
  .OM__bestellingen__table {
    width: 80%;
  }
}

.OM__bestellingen__table thead {
  background-color: rgba(51, 102, 51, 0.5);
}

.OM__bestellingen__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.OM__bestellingen__table__icon {
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  font-size: 1em !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #336633;
}

.OM__bestellingen__table__icon a {
  text-decoration: none;
  color: #336633;
  font-size: 1.2em !important;
}

.OM__bestellingen__table th, .OM__bestellingen__table td {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  padding: 0.75rem;
  max-width: 13rem;
  overflow: auto;
}

.OM__bestellingen__table tbody tr:nth-of-type(even) {
  background-color: rgba(51, 102, 51, 0.3);
}

.OM__bestellingen__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  width: 90%;
}

@media (min-width: 1200px) {
  .OM__bestellingen__form {
    width: 80%;
  }
}

.OM__bestellingen__form__label {
  margin-top: 10px;
}

.OM__bestellingen__form__input {
  margin-top: 5px;
  padding: 0.75em;
}

.OM__bestellingen__form__formset {
  border: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 1200px) {
  .OM__bestellingen__form__formset {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.OM__bestellingen__form__formset section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OM__bestellingen__form__formset__input {
  padding: 0.75em;
}

.OM__bestellingen__form__formset__label {
  width: auto;
}

.OM__bestellingen__form h3 {
  margin-top: 10px;
}

.OM__bestellingen__form__table__input {
  padding: 0.75em;
  margin-top: 5px;
  width: 90%;
}

.OM__bestellingen__form__submit {
  background-color: #336633;
  color: white;
  border: none;
  padding: 0.75em;
  margin-top: 10px;
}

.OM__bestellingen__form__successMsg {
  color: green;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.OM__bestellingen__form__errorMsg {
  color: red;
  font-style: italic;
  width: 100%;
  -webkit-box-flex: display;
      -ms-flex: display;
          flex: display;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  text-align: center;
}
/*# sourceMappingURL=appAdmin.css.map */