.bestellen{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco3.png');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-blend-mode: screen;
    &__header{
        display: flex;
        justify-content: space-between;
        padding:20px;
        height: 27px;
        width: 100%;
        margin:0;
        margin-bottom: 6vh;
        &__title{
            text-align: center;
            color: #336633;
            font-weight: 600;
            width: 100%;
        }
    }
    &__cart__overzicht{
        background-color: white;
        height: 60%;
        width: 70%;
        max-width: 500px;
        position: fixed;
        top: 51px;
        right: 0;
        border-bottom-left-radius: 2vh;
        border-left: solid 3px #4a4a4a;
        box-shadow: 0px 7px #4a4a4a;
        z-index: 11113;
        &__totaal{
            text-align: center;
            font-size: 1.4em;
            margin-top: 2.5vh;
        }
    }

    &__cart{
        &__container{
            height: 85%;
            width: 90%;
            margin: 0 auto;
            overflow: auto;
            padding: 5%;
        }
        
        &__item{
            display: flex;
            border-bottom: 1px solid black;
            position: relative;
            min-height: 5rem;
            align-items : center;
            justify-content: center;
            position: relative;
                &__c1{
                    flex:1;
                    min-height: 100%;
                    min-width: 40%;
                    &__itemtitle{
                        font-size: 1em;
                        margin:0;
                    }
                }
                &__c2{
                    flex:1;
                    min-width: 25%;
                    min-height: 100%;
                    text-align: center;
                }
                &__c3{
                    flex:1;
                    min-width: 35%;
                    min-height: 100%;
                    
                    &__itemprize{
                        text-align: right;
                    }
                }
            }
    }
    &--container_categories{
        width: 90%;
        height: 68%;
        overflow: auto;
        margin-bottom: 6%;   
        padding: 0;
        position: relative;
        
        
    }
    &__theroof{
        width: 100%;
        height: 71%;
        overflow: auto;
        position: relative;
        border-radius: 0;
        background: transparent;
        &__c1{
            position: relative;
            height: 17%;
            width: 100%;
            background-color: #6F5000;
            
            &__paragraph{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: calc(0.7em + 1.4vmin);
                text-align: center;
                width: 100%;
                
                @include for-desktop-up {
                    font-size: calc(0.7em + 1.1vmin);
                }
            }
        }
        &__c2{
            height: 75%;
            width: 85%;
            position: relative;
            margin: 5% auto 0 auto;
            overflow: auto;
            padding: 0 5% 0 5%;
            display: grid;
            grid-template-columns: auto;
            &__griditem{
                height: 12rem;
                @include for-desktop-up {
                    
                    height: 13rem;
                }
                width: 80%;
                max-width: 20rem;
                margin: 0 auto;
                margin-bottom: 9%;
                background-color: none;
                border: 1px solid rgba(63, 63, 63, 0.15);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                background-image:url('https://i.imgur.com/nr3gTU6.png');
                &__top{
                    width: 100%;
                    display : flex;
                    align-items : center;
                    justify-content: center;
                    height: 22%;
                    background-color: #5D8D2D;
                    color: white;
                    vertical-align: middle;
                    text-align: center;
                    border-radius: 10px 10px 0 0;
                    font-size: 1.1em;
                    @include for-desktop-up {
                        height: 26%;
                        font-size: 1.3em;
                    }
                }
                &__description{
                    padding: 1%;
                    margin: 10% auto 0 auto;
                    @include for-desktop-up {
                        margin: 6% auto 0 auto;
                        font-size: 1.1em;
                    }
                    text-align: center;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 1em;
                    height: 40%;
                    width: 90%;
                }
                &__box{
                    
                    height: 39px;
                    position: absolute;
                    padding: 0 5px;
                    left: 50%;
                    transform: translate(-50%,-35%);
                    text-align: center;
                    background-color: transparent;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    @include for-desktop-up {
                        transform: translate(-50%,-70%);
                    }
                }
            }
        }
        
        
    }
    &__bottom{
        position: absolute;
        height: 10%;
        width: 90%;
        margin: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    &__menucategorie{
        display: flex;
        width: 95%;
        max-height: 15vh;
        height: 22%;
        justify-content: center;
        text-align: center;
        border-radius: 1.5rem;
        cursor: pointer;
        position: relative;
        background-size: cover;
        overflow: hidden;
        border: none;
        margin: 0 auto;
        margin-bottom: 3%;
        &__title{
            padding: 0;
            margin: 0;
            position: absolute;
            color: white;
            z-index: 2;
            font-size: 2.5em;
            font-weight: 700;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); 
        }
        &__shadow{
            background-color: black;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 39%;
            
        }
    }
}


.bevestiging--button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #336633;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5em;
    pointer-events: auto;
    cursor: pointer;
    &__title{
        position: absolute;
        background-color: transparent;
        height: 70%;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        font-weight: 100;
        font-size:0.9em;
        letter-spacing: 0.5px;
    }
    &__description{
        position: absolute;
        left: 50%;
        top: 75%;
        font-size: 0.5em;
        background-color: transparent;
        height: 30%;
        width: 100%;
        transform: translate(-50%,-50%);
        font-style: none;
    }
}
.--bevestigingsbutton__inactive{
    background-color: gray;
    pointer-events: none;
}
.modal__bestellen{
    position: absolute;
    top:  40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 10px 5px 10px 10px;
    z-index: 2000;
    background-image: url('https://rubenjerry.nl/wp-content/images/deco3.png');
    background-position: center;
    background-size: 130%;
    max-height: 100%;
    overflow: hidden;
    &__overlay{
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
    }
    &__subcontainer{
        height: 72%;
        width: 100%;
        position: relative;
        overflow-y: auto;
        padding: 0 5% 5% 5%;
        margin: 0 auto;
    }
    &__title{
        color: #996501;
        font-weight: bold;
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        margin: 5% auto 6% auto;
    }
    &__close{
        position: absolute;
        top: 1%;
        right: 4%;
        border: none;
        font-size: 1.5em;
        font-weight: bold;
        color: #3d3d3d;
    }
    .--bevestig_bestelling{
        position: absolute;
        left: 50%;
        margin: 0;
        bottom: 0;
        transform: translate(-50%,-40%);
        width: 90%;
        height: 50%;
        border: 1.5px solid #888888;
        border-radius: 1vh;
        box-shadow: 1px 2px #888888;
        font-size: 1em;
    }
    .bottom{
        position: relative;
        max-height: 15%;
        margin: 0 auto;
        background-color:transparent;
        width: 100%;
    }
    &__item:first-child{
        border-top: 1px solid black;
    }
    &__item{
        display: flex;
        border-bottom: 1px solid black;
        position: relative;
        min-height: 5rem;
        align-items : center;
        justify-content: center;
        position: relative;
        &__container1{
            flex:1;
            width: 40%;
            margin: 0;
            float:left;
            min-height: 100%;
            padding: 3% 0;
            &__itemtitle{
                font-size: 1em;
                margin:0;
            }
            &__itemdescription{
                width: 100%;
                font-size: 0.8em;
                margin: 0;
            }
        }   
        &__container2{
            flex: 1;
            display: inline-block;
            position: relative;
            width: 20%;
            margin: 0;
            &__itemprize{
                width: 90%;
                font-size: 1em;
                text-align: center;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &__container3{
            width: 37%;
            height: 39px;
            padding: 0 5px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #efefef;
        }
    }
}

.button_item {
    position: relative;
    display: inline-block;
    width: 42%;
    max-width: 100px;
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
    border: 1.2px solid rgba(73, 57, 14, 1);

    input[type=number] {
        -moz-appearance: textfield;
      }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

}

.input-number.qtyicon {
    background-color: none;
    height: 100%;
    padding: 0 5px;
    border: none;
}

.button_item input{
    background-color: transparent;
    display: inline-block;
    margin: 0;
    border: none;
    box-shadow: none;
    max-width: 33%;
    text-align: center;
    font-weight: bold;
}
    
.button_item .minus,
.button_item .plus {
    padding: 9%;
    height: 100%;
    max-width: 33%;
    border: none;
    cursor:pointer;
    text-align: center;
    font-weight: bold;
}
.button_item input::-webkit-inner-spin-button,
.button_item input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}