.header{
    width: 100vw;
    height: 51px;
    background-image: url(https://rubenjerry.nl/wp-content/images/deco4.png);
    background-size: cover;   
    background-position: center;
    background-position-x: -35px;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-desktop-up {
        background: none;
        background-color: transparent;
        color: white;
    }
    &__back{
        padding: 0;
        margin: 0;
        width: 24px;
        background: none;
        border: none;
        z-index: 1;
        outline: none;
        @include for-desktop-up {
            color: white;
        }
    }
    &__title{
        width:100%;
        height: inherit;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        display: flex;
        left:0;

    }
    &__cart{
        padding: 0;
        margin: 0;
        margin-right: 5px;
        width: 35px;
        pointer-events: inherit;
        position: relative;
        cursor: pointer;
        &__image{
            width: 100%;
            height: 100%;
        }
        &__imageindicator{
            position: absolute;
            bottom:-5%;
            right:-15%;
            width: 60%;
            height: 55%;
            background-color: red;
            border-radius: 50%;
            font-size: 0.55em;
            text-align: center;
            color: white;
            padding-top: 3px;
            font-weight: bold;
            font-style: normal;
        }
        z-index: 3000;
    }
    
}